.Board {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: lightskyblue;
    cursor: none;
    display: flex;
    justify-content: flex-end;
}

.Board__users {
    padding: 1rem;
}
